{% load bootstrap4 %}
{% load static %}
<!--Footer-->
<footer class="page-footer font-small mt-4 wow fadeIn" style="padding: 30px;padding-bottom:10%">
    <div  id="contact" style="color:white;margin-left: 160px;padding-top:8%" >

        <h1 class=" text-center mb-5">Contacts</h1>
        <hr style="width: 60%;background-color:white;"><br>
        <div class="container ">
            <div class="row " class="ml-4">
    
            <!--Grid column-->
                
                <div class="col-md-12 text-center">
    
                    <!--First row-->
                    <div class="row">
                        <div class="col-1 ">
                         
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title"><i class="fa fa-envelope-open"></i> Email</h5>
                            <p class="grey-text">msyokimutua@gmail.com</p>
                        </div>
                    </div>
                    <!--/First row-->
        
                    <div style="height:30px"></div>
        
                    <!--Second row-->
                    <div class="row">
                        <div class="col-1 ">
                
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title"><i class="fa fa-phone"></i> Mobile</h5>
                            <p class="grey-text">+254752769602
                            </p>
                        </div>
                    </div>
                    <!--/Second row-->
        
                    <div style="height:30px"></div>
        
                    <!--Third row-->
                    <div class="row">
                        <div class="col-1 ">
            
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title" >Others </h5><br>
                            <h3>
                                <i class="fa fa-github mr-2" aria-hidden="true"></i>
                                <i class="fa fa-twitter mr-2" aria-hidden="true"></i>
                                <i class="fa fa-slack mr-2" aria-hidden="true"></i>
                                <i class="fa fa-linkedin mr-2" aria-hidden="true"></i>
                                <i class=" fa fa-google" aria-hidden="true"></i> 
                            
                            </h3>
                        </div>
                    </div>
                    <!--/Third row-->
    
                </div>
            <!--/Grid column-->
    
            <!--Grid column-->
       
            <!--/Grid column-->
    
            </div>
            <div class="footer-copyright py-3"style="color: white;text-align:center;">
                © 2020 Copyright:
                <span style="color: white;">Musyoki Mutua</span>
                </div>
            </div>
          
        </div>
    </div>
    
    
    <!--End mc_embed_signup-->
    <!--Copyright-->
  
    <!--/.Copyright-->

</footer>
  <!--/.Footer-->
