{% extends 'base/main.html'%}
{% block content%}
{% load static %}

<!-- Full Page Intro -->
<div class="view " style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-repeat: no-repeat; background-size: cover;color:white" >
  <!-- Mask & flexbox options-->
  <div class="container" >
    <section style="padding-top: 100px;">
      <div class="row " >
        <!-- Content -->
        <!-- <div class="col-4 " >
          <div class="img-container">
            <img src="{% static 'images/mypic2.jpg' %}"  class="img-fluid"  alt="Avatar">
          </div>
        </div> -->
        <div class="col-12">
          <div class="text-center white-text mx-5 wow fadeIn "  style="padding-top: 100px;">
            <h1>Hello!</h1>
            <h1>
                <span  class="ml3">I'm Musyoki Mutua</span>
            </h1>
            <h1 >
                <strong class="ml3">A Full-stack Developer</strong>
            </h1>
            <hr style="background-color:white">
            <h5>
                <strong>Why Software Development?</strong>
            </h5>
            <p>
                Am Inspired To Make A Difference Through Tech
            </p><br><br>
            <a  class="btn btn-info btn-lg mr-3" href="#profile" ><span > Learn More</span></a> <a  class="btn btn-light  btn-lg" href="#contact">Hire Me</a>
            
            <br>
          </div>
        </div>
      </div>
    </section>
  </div><br>



</div>

<main>
    <div class="container">


      <section class="mt-5 wow fadeIn" id="profile">
        <h3 class="h3 text-center mb-5"><strong> About</strong> Me</h3>
        <div class="row">

          <div class="col-md-6 mb-4">
            <div class="img-container text-center">
              <img src="{% static 'images/mypic2.jpg' %}"  class="img-fluid "  style="height: 550px;width: 420px;">
            </div>
          </div>

          <div class="col-md-6 mb-4" style="padding-top:100px">
            <!-- Main heading -->
            <h3 class="h3 mb-3">Designing With Passion While Exploring The World.</h3>
            <p>My interest in software development is more from a point of view of programming
              as a liberal art,am also fascinated by the rapid progress and of technology as a whole and it's implications to 
              the future of the   
              <strong>human civilization</strong>. </p>
            <p>“The purpose of life is to contribute in some way to making things better.” <br><strong>― Robert F. Kennedy</strong> </p>
            <!-- Main heading -->
            <hr>
            <p>
              My name is <strong> Musyoki Mutua</strong> and am a developer making life better through sofware.
            </p>
          </div>

        </div>
        <!--Grid row-->

      </section>


      <!--Section: Main features & Quick Start-->



      <hr class="my-5">
      <section id="portfolio">
        <!---Portfolio -->
        <h2 class="my-5 h3 text-center"><strong>My</strong>  Projects</h2>
         <div class="container-fluid" >
           
             <div class="card-deck text-center">
               <div class="card">
                 <a href="https://neighbormsyoki.herokuapp.com/">
                   <img src="https://images.pexels.com/photos/1654330/pexels-photo-1654330.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="portfolio-images">
                   <div class="toggle-text" >Neghborhood Watch</div>
                 </a>
               </div>
               <div class="card">
                 <a href="https://mercurymsyoki.herokuapp.com/">
                 <img src="https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid" alt="portfolio-images">
                 <div class="toggle-text" >Mercury News</div>
                 </a>
               </div>
               <div class="card">
                 <a href="https://awwardsmsyoki.herokuapp.com/">
                 <img src="https://images.pexels.com/photos/230659/pexels-photo-230659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid" alt="portfolio-images">
                 <div class="toggle-text" >Magnum Awards</div>
                 </a>
               </div>
               <div class="card">
                 <a href="https://boss-blogmsyoki.herokuapp.com/">
                 <img src="https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80" class="img-fluid" alt="portfolio-images">
                 <div class="toggle-text" >Boss Blog</div>
                 </a>
               </div>
             </div>
             
           </div>
         </div>
     </section>

     <hr class="my-5">

      <!--Section: Not enough-->
      <section id="skills">

        <h2 class="my-5 h3 text-center"><strong>Technical</strong> Skills</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn text-center">
            
          <!--First column-->
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="card" style="padding:30px">
              <div class="row">
                <div class="col-6">
                  <h5  >
                    <span>HTML</span><hr>
                    <span>CSS</span><hr>
                    <span>jQuery</span><hr>
                  </h5><br>
                </div>
                <div class="col-6">
                  <h5>
                    <span>Angular</span><hr>
                    <span>Python</span><hr>
                    <span>Javascript</span>
                  </h5><br><br>
                </div>
              </div>
              <div class="row" style="text-align: center;">
                <div class="col-12">
                  <h5 ><strong>Frameworks</strong> </h5>
                  <h5 >
                    <span>Flask</span><hr>
                    <span>Django</span>
                  </h5>
                </div>
              </div>
            </div>
          </div><br><br>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-3 flex-center" style="padding-top:40px;">
            <div class="row">
              <div class="col-6">
                <!--First row-->
                <div class="row">
                  <div class="col-12 " >
                    <img src="{% static 'images/angular.png '%}" alt="python" style="width: 80px;height:80px;">
                    <div style="height:15px"></div>
                  </div>
                </div><br><br>
                <!--Second row-->
                <div class="row">
                  <div class="col-12">
                    <img src="{% static 'images/python1.png '%}" alt="javascript" style="width: 80px;height:80px;">
                    <div style="height:15px"></div>
                  </div>
                </div><br>
              </div>
              <div class="col-6">
                <div class="row ">
                  <div class="col-12 ">
                    <img src="{% static 'images/django.png '%}" alt="django" style="width: 100px;height:100px;">
                    <div style="height:15px"></div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-12">
                    <img src="{% static 'images/flask.png '%}" alt="flask" style="width: 80px;height:100px;">
                  </div>
                </div>        
              </div>
            </div><br><br>
          </div>
          <div class="col-md-2"></div>
          

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->
      <hr class="my-5">
      <section  id="contact">

        <h3 class="h3 text-center mb-5"><strong>Get</strong>  In Touch</h3>
        <div class="row wow fadeIn text-center" >
          <div class="col-lg-2 col-md-12"></div>
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-12">
                <h5 class="feature-title"><i class="fa fa-envelope-open"></i> Email</h5>
                <p class="grey-text">msyokimutua@gmail.com</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
    
              <div class="col-12">
                <h5 class="feature-title">Mobile</h5>
                <p class="grey-text">+254752769602
                </p>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">

              <div class="col-12">
                <h5 class="feature-title">Others</h5>
                <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                  how to use MDB as well as other technologies.</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12">
            <div class="img-container text-center">
              <img src="{% static 'images/mypic.jpg' %}"  class="img-fluid "  style="height: 300px;width: 220px;">
            </div>
          </div>
          <!--/Grid column-->
          <div class="col-lg-2 col-md-12"></div>

        </div>
        <!--/Grid row-->

      </section>


    </div>

  </main>
  <!--Main layout-->










  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" style="padding: 30px;">
    <div class="row">
      <!--Call to action-->
      <div class="col-6" style="color: white;"> </div>
      <!--/.Call to action-->
      <!-- <div class="col-4" style="color: white;"></div>  -->
    

      <!-- Social icons -->
      
        
      <!-- Social icons -->
      <!-- Begin Mailchimp Signup Form -->
      <div class="col-6" >
        <div class="container" style="color: white;text-align:left;">
          <h4 ><strong> Contact:</strong></h4>
          <p>Please leave a message below and i will get in touch as soon as possible</p>
          <a class="btn btn-info" href="http://eepurl.com/hiSh_H"> Leave Message</a>
        </div>
      </div>
    </div> <br><br>
    
    <!--End mc_embed_signup-->
    <!--Copyright-->
    <div class="footer-copyright py-3"style="color: white;text-align:center;">
     Musyoki Mutua | © 2020 Copyright  All right reserved
      <a href="/" target="_blank"><span style="color: white;"></span> </a>
      </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->


{% endblock %}